.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  padding: 50px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.orange {
    color: orange;
}

.purple {
    color: purple;
}

.rate-container {
    border-top: 2px solid purple;
}

.rate-container svg {
    font-size: 2em;
    cursor: pointer;
}